# Seguridad: Ignorar credenciales locales
.env/
.env.local/
.venv/
__pycache__/
*.pyc

# Ignorar TODOS los archivos dentro de data, EXCEPTO el .gitkeep
data/*
!data/.gitkeep

# Ignorar archivos Excel en cualquier otro lado
*.xlsx
*.xls
*.csv

# Ignorar archivos de zona de Windows
*:Zone.Identifiervenv/
.venv/
venv/
.venv/
